@media (max-width:767px) {
    .none_input {
      display: none;
    }

    .center {
        padding-left: 16px;
        padding-right: 16px;
      }

      .heading{
        height: 735px;
      }
      
    .heading__logo{
        width: 343px;
        height: 77px;
        color: #FFF;
        text-align: center;
        font-size: 32px;
        padding-top: 238px;
    }

    .heading__paragraph{
        width: 343px ;
        font-size: 14px;
        text-align: center;
    }
    .heading__button{
        margin-top: 33px;
        margin-left: 54px;
        margin-bottom: 238px;
    }

    .game_blok__section{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    }
    .game_blok{
     height: 1221px;
    }
    .game_blok_content{
        width: 343px;
        margin-bottom: 32px;
        margin-top: 32px;
    }
    .season__logo{
        width: 343px;
        height: 39px;
        color: #FFF;
        text-align: center;
        font-size: 32px;
    }
    .season__blok{
        height: 653px;
        padding-top: 51px;
    }
    .season__paragraph{
        width: 343px ;
        font-size: 14px;
        text-align: center;
    }
    .season__button{
        margin-top: 33px;
        margin-left: 54px;
    }
    .season__info{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 344px;
        height: 236px;}

    .season_blok_content{
        width: 343px;
        margin-bottom: 32px;
        margin-top: 32px;
    }

    .section_4{
        background-image: url(img/mobile.png);
    }

.game_two__logo{
    width: 343px;
    height: 39px;
    color: #FFF;
    text-align: center;
    font-size: 32px;
}
.game_two__blok{
    height: 653px;
    padding-top: 51px;
}
.game_two__paragraph{
    width: 343px;
    font-size: 14px;
    text-align: center;
}

.game_two__button{
    margin-top: 33px;
    margin-left: 54px;
}
.game_two__info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}
.game_two__text{
     color: #FFF;
     font-size: 14px;
     font-style: normal;
     font-weight: 300;
     line-height: 32px;
     width: 343px;
     padding-left: 0px;
     padding-top: 51px;
}

.game_two_content{
    width: 379px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 16px;
    margin-bottom: 128px;
    padding-top: 61px;
}

.section_5{
    background-image: url(img/gametwomob.svg);

}
.img{
 width: 344px;
  height: 231px;
}


}

